<!DOCTYPE html>
<html>
  <head>
    <title>AchillesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <a class="title" href="/">Achiless</a>
      <ul>
        <a class="header_list" href="/design">デザインの小部屋</a>
        <a class="header_list" href="/contact">お問い合わせ</a>
        <a class="header_list" href="/info">企業紹介</a>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
